/* Part of Index Page and Footer Design */
.post-blue > a {
  color: slategrey;
}  
.post-blue > a:focus, .post-blue > a:hover {
  text-decoration: none;
  color: rgb(0, 183, 255);
}
 .post-blue > a > .post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.post-blue > a > .post-subtitle {
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.line-height {
  line-height: 2.0;
}
